body 
{
    text-align: center;
    background-color: #2292A4;
}

.card
{
    background-color: #dd8737;
}

.form-control
{
    background-color: #e3e65c;
}

.btn 
{
    background-color: #e3e65c;
}

a
{
    color: #D96C06;
}